apiVersion: apps/v1
kind: Deployment
metadata:
  name: inventory-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inventory-service
  template:
    metadata:
      labels:
        app: inventory-service
    spec:
      containers:
        - name: inventory-service
          image: asia-south1-docker.pkg.dev/ecommercebackend-480616/ecommerce-repo/inventory-service:latest
          ports:
            - containerPort: 8083
          envFrom:
            - secretRef:
                name: ecommerce-secrets
            - configMapRef:
                name: ecommerce-config
          env:
            - name: SPRING_APPLICATION_NAME
              value: "inventory-service"
            - name: SERVER_PORT
              valueFrom:
                configMapKeyRef:
                  name: ecommerce-config
                  key: INVENTORY_PORT
            - name: DB_URL
              value: "jdbc:mysql://mysql:3306/inventory_service?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true"
---
apiVersion: v1
kind: Service
metadata:
  name: inventory-service
spec:
  selector:
    app: inventory-service
  ports:
    - port: 8083
      targetPort: 8083
  type: ClusterIP
