apiVersion: apps/v1
kind: Deployment
metadata:
  name: order-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: order-service
  template:
    metadata:
      labels:
        app: order-service
    spec:
      containers:
        - name: order-service
          image: asia-south1-docker.pkg.dev/ecommercebackend-480616/ecommerce-repo/order-service:latest
          ports:
            - containerPort: 8084
          envFrom:
            - secretRef:
                name: ecommerce-secrets
            - configMapRef:
                name: ecommerce-config
          env:
            - name: SPRING_APPLICATION_NAME
              value: "order-service"
            - name: SERVER_PORT
              valueFrom:
                configMapKeyRef:
                  name: ecommerce-config
                  key: ORDER_PORT
            - name: DB_URL
              value: "jdbc:mysql://mysql:3306/order_service?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true"
            - name: SPRING_KAFKA_BOOTSTRAP_SERVERS
              valueFrom:
                configMapKeyRef:
                  name: ecommerce-config
                  key: KAFKA_BOOTSTRAP_SERVERS
            - name: INVENTORY_URL
              valueFrom:
                configMapKeyRef:
                  name: ecommerce-config
                  key: INVENTORY_URL
---
apiVersion: v1
kind: Service
metadata:
  name: order-service
spec:
  selector:
    app: order-service
  ports:
    - port: 8084
      targetPort: 8084
  type: ClusterIP
