apiVersion: apps/v1
kind: Deployment
metadata:
  name: product-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: product-service
  template:
    metadata:
      labels:
        app: product-service
    spec:
      containers:
        - name: product-service
          image: asia-south1-docker.pkg.dev/ecommercebackend-480616/ecommerce-repo/product-service:latest
          ports:
            - containerPort: 8082
          envFrom:
            - secretRef:
                name: ecommerce-secrets
            - configMapRef:
                name: ecommerce-config
          env:
            - name: SPRING_APPLICATION_NAME
              value: "product-service"
            - name: SERVER_PORT
              valueFrom:
                configMapKeyRef:
                  name: ecommerce-config
                  key: PRODUCT_PORT
            - name: DB_URL
              value: "jdbc:mysql://mysql:3306/product_service?createDatabaseIfNotExist=true&useSSL=false&allowPublicKeyRetrieval=true"
---
apiVersion: v1
kind: Service
metadata:
  name: product-service
spec:
  selector:
    app: product-service
  ports:
    - port: 8082
      targetPort: 8082
  type: ClusterIP
