spring:
  application:
    name: ${SPRING_APPLICATION_NAME:main-gateway}

server:
  port: ${SERVER_PORT:8080}

springdoc:
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    path: /swagger-ui.html
    persist-authorization: true
    urls:
      - name: auth-service
        display-name: Authentication Service
        url: /aggregate/auth-service/v3/api-docs
      - name: product-service
        display-name: Product Service
        url: /aggregate/product-service/v3/api-docs
      - name: inventory-service
        display-name: Inventory Service
        url: /aggregate/inventory-service/v3/api-docs
      - name: order-service
        display-name: Order Service
        url: /aggregate/order-service/v3/api-docs
      - name: upload-service
        display-name: Upload Service
        url: /aggregate/upload-service/v3/api-docs

management:
  health:
    circuitbreakers:
      enabled: true
  endpoint:
    health:
      show-details: always
  endpoints:
    web:
      exposure:
        include: "*"

resilience4j:
  circuitbreaker:
    configs:
      default:
        register-health-indicator: true
        sliding-window-type: COUNT_BASED
        sliding-window-size: 10
        failure-rate-threshold: 50
        wait-duration-in-open-state: 5s
        permitted-number-of-calls-in-half-open-state: 3
        automatic-transition-from-open-to-half-open-enabled: true

  timelimiter:
    configs:
      default:
        timeout-duration: 5s

jwt:
  secret-key: ${JWT_SECRET_KEY}

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka/}
    register-with-eureka: true
    fetch-registry: true
