spring:
  application:
    name: ${SPRING_APPLICATION_NAME:product-service}

  datasource:
    url: ${DB_URL:jdbc:mysql://localhost:3306/product_service}
    username: ${DB_USERNAME:root}
    password: ${DB_PASSWORD:password}

  jpa:
    hibernate:
      ddl-auto: update

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs

server:
  port: ${SERVER_PORT:8082}

eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    serviceUrl:
      defaultZone: ${EUREKA_URL:http://localhost:8761/eureka/}
  instance:
    prefer-ip-address: true

resilience4j:
  circuitbreaker:
    instances:
      inventoryCB:
        sliding-window-size: 5
        wait-duration-in-open-state: 5s
        failure-rate-threshold: 50
