name: Build and Push Docker Images

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

env:
  PROJECT_ID: ecommercebackend-480616
  REGION: asia-south1
  REPOSITORY: ecommerce-repo

jobs:
  build-and-push:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup JDK
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: '21'

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.GCP_SA_KEY }}

      - name: Configure Docker for Artifact Registry
        run: gcloud auth configure-docker $REGION-docker.pkg.dev -q

      - name: Build JARs
        run: |
          mvn -B -f AuthService/pom.xml clean package -DskipTests
          mvn -B -f eurekaserver/pom.xml clean package -DskipTests
          mvn -B -f inventory_service/pom.xml clean package -DskipTests
          mvn -B -f maingateway/pom.xml clean package -DskipTests
          mvn -B -f notification_service/pom.xml clean package -DskipTests
          mvn -B -f order_service/pom.xml clean package -DskipTests
          mvn -B -f product_service/pom.xml clean package -DskipTests
          mvn -B -f uploadservice/pom.xml clean package -DskipTests

      - name: Copy built JARs
        run: |
          cp AuthService/target/*.jar AuthService/
          cp eurekaserver/target/*.jar eurekaserver/
          cp inventory_service/target/*.jar inventory_service/
          cp maingateway/target/*.jar maingateway/
          cp notification_service/target/*.jar notification_service/
          cp order_service/target/*.jar order_service/
          cp product_service/target/*.jar product_service/
          cp uploadservice/target/*.jar uploadservice/

      - name: Build and Push Docker Images
        shell: bash
        run: |
          declare -A services=(
            ["AuthService"]="auth-service"
            ["eurekaserver"]="eureka-server"
            ["inventory_service"]="inventory-service"
            ["maingateway"]="main-gateway"
            ["notification_service"]="notification-service"
            ["order_service"]="order-service"
            ["product_service"]="product-service"
            ["uploadservice"]="upload-service"
          )
          
          for folder in "${!services[@]}"; do
            IMAGE="$REGION-docker.pkg.dev/$PROJECT_ID/$REPOSITORY/${services[$folder]}:${{ github.sha }}"
            docker build -t "$IMAGE" "$folder"
            docker push "$IMAGE"
          done
